{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "ElectronEnergyResolution" : {
            "input" : "single_electron",
            "path"  : "<where-the-mobo-goes>/BIC-MOBO/objectives",
            "exec"  : "BICClustEneReso.py",
            "rule"  : "python <EXEC> -i <RECO> -o <OUTPUT> -p 11",
            "stage" : "ana",
            "goal"  : "minimize",
            "threshold" : 1.0
        }
    }
}
