{
    "_comment"      : "Configures runtime options, and paths to EIC software components",
    "conda"         : "<path-to-your-script>/conda.sh",
    "out_path"      : "<where-the-output-goes>",
    "run_path"      : "<where-the-running-happens>",
    "log_path"      : "<where-the-logs-go>",
    "eic_shell"     : "<path-to-your-script>/eic-shell",
    "overlap_check" : "checkOverlaps",
    "det_path"      : "<where-the-geo-goes>/epic",
    "det_config"    : "epic",
    "sim_exec"      : "npsim",
    "sim_input"     : {
        "single_electron" : {
            "location" : "$PWD/steering/electron",
            "type"     : "gun"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles",
        "EcalBarrelScFiRawHits",
        "EcalBarrelScFiRawHitAssociations",
        "EcalBarrelScFiRecHits",
        "EcalBarrelScFiClusters",
        "EcalBarrelScFiClusterAssociations",
        "EcalBarrelImagingRawHits",
        "EcalBarrelImagingRawHitAssociations",
        "EcalBarrelImagingRecHits",
        "EcalBarrelImagingClusters",
        "EcalBarrelImagingClusterAssociations",
        "EcalBarrelClusters",
        "EcalBarrelClusterAssociations",
        "EcalBarrelTruthClusters",
        "EcalBarrelTruthClusterAssociations"
    ],
    "sched_n_jobs" : 1
}
