{
    "_comment"   : "Configures runtime options, and paths to EIC software components",
    "out_path"   : "$PWD/out",
    "run_path"   : "$PWD/run",
    "log_path"   : "$PWD/log",
    "eic_shell"  : "$PWD/run_singularity.sh",
    "epic_setup" : "/opt/detector/epic-main/bin/thisepic.sh",
    "det_path"   : "$PWD/share/epic",
    "det_config" : "epic",
    "sim_exec"   : "npsim",
    "sim_input"  : {
        "single_electron" : {
            "location" : "$PWD/steering/electron",
            "type"     : "gun"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles",
        "EcalBarrelScFiRawHits",
        "EcalBarrelScFiRawHitAssociations",
        "EcalBarrelScFiRecHits",
        "EcalBarrelScFiClusters",
        "EcalBarrelScFiClusterAssociations",
        "EcalBarrelImagingRawHits",
        "EcalBarrelImagingRawHitAssociations",
        "EcalBarrelImagingRecHits",
        "EcalBarrelImagingClusters",
        "EcalBarrelImagingClusterAssociations",
        "EcalBarrelClusters",
        "EcalBarrelClusterAssociations",
        "EcalBarrelTruthClusters",
        "EcalBarrelTruthClusterAssociations"
    ]
}
