{
    "_comment"   : "Configures runtime options, and paths to EIC software components",
    "out_path"   : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/out",
    "run_path"   : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/run",
    "log_path"   : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/log",
    "eic_shell"  : "/home/amitbashyal/Documents/BNL-AiD2E/run_singularity.sh",
    "epic_setup" : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/thisepic.sh",
    "det_path"   : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/share/epic",
    "det_config" : "epic",
    "sim_exec"   : "npsim",
    "sim_input"  : {
        "single_electron" : {
            "location" : "/home/amitbashyal/Documents/BNL-AiD2E/BIC-MOBO/steering/electron",
            "type"     : "gun"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles",
        "EcalBarrelScFiRawHits",
        "EcalBarrelScFiRawHitAssociations",
        "EcalBarrelScFiRecHits",
        "EcalBarrelScFiClusters",
        "EcalBarrelScFiClusterAssociations",
        "EcalBarrelImagingRawHits",
        "EcalBarrelImagingRawHitAssociations",
        "EcalBarrelImagingRecHits",
        "EcalBarrelImagingClusters",
        "EcalBarrelImagingClusterAssociations",
        "EcalBarrelClusters",
        "EcalBarrelClusterAssociations",
        "EcalBarrelTruthClusters",
        "EcalBarrelTruthClusterAssociations"
    ]
}
